{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'App\style.css' %}">
    <script src="{% static 'App/scripts.js' %}"></script>
</head>
<body>
    <h1>Alterate this page to replace our project details</h1>
    <p> go to the source code to find HTML , CSS , Js seperatly you can insert your code on the App folder</p>
    <br>
    <p>(1. inside template replace HTML code,2. inside static insert your css on style.css and js on scripts.js)</p>
</body>
</html>
