@font-face {
	font-display: swap;
font-style: normal;
src: url("/public/fonts/InterRegular.ttf");
font-family: "Inter";
font-weight: 400;
}

@font-face {
	font-display: swap;
font-style: normal;
src: url("/public/fonts/OutfitBlack.ttf");
font-family: "Outfit";
font-weight: 900;
}

@font-face {
	font-display: swap;
font-style: normal;
src: url("/public/fonts/OutfitSemiBold.ttf");
font-family: "Outfit";
font-weight: 600;
}

@font-face {
	font-display: swap;
font-style: normal;
src: url("/public/fonts/Interlight.ttf");
font-family: "Inter";
font-weight: 300;
}

@font-face {
font-display: swap;
font-style: normal;
src: url("/public/fonts/OutfitMedium.ttf");
font-family: "Outfit";
font-weight: 500;
}
@font-face { 
	font-display: swap;
	font-style: normal;
src: url("/public/fonts/InterMedium.ttf");
font-family: "Inter";
font-weight: 500;
}